.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: rgb(255, 81, 81);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#E26A2C, #FF8243);
}
.ComboBox{
    -fx-background-color: rgb(255, 81, 81);
    -fx-text-fill: white;
}

